button {
  padding: 8px 14px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 6px;
}

button:hover {
  background-color: #125aa3;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

input,
select {
  padding: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th {
  background-color: #f5f5f5;
}
